<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>

<p>
Dear <%=h @cp_application.user.first_name %>,
</p>

<p>
Thank you for signing up to become a Citizen Philanthropist! We will email you within two business days to schedule a quick phone call about choosing, fundraising, and completing your own project for a community in need. 
</p>

<p>
Meanwhile, get started by:
</p>

<p>
1) <%= link_to "Finding a project on Citizen Effect", projects_url %> that speaks to you
</p>

<p>
2) Brainstorming creative ways to fundraise for that project -- Citizen Effect will help you achieve your goal!
</p>

<p>
We look forward to speaking with you soon!
</p>

<p>
The Citizen Effect Team
</p>

</body>
</html>
