<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>[Detroit4Detroit] Confirmation Email</title>
</head>
<body>
	<p>Dear <%= @partner_inquiry_form.submitter_name %>,<br>&nbsp;</p>

	<p>Thank you for contacting us!  We are thrilled that <%= @partner_inquiry_form.organization %> is interested in working with Detroit4Detroit to give back to our community! We'll be in touch shortly to talk about how we
	can have as big an impact as possible together.<br>&nbsp;</p>

	<p>If you have any questions, please don't hesitate to contact us at </p>

	<p>Thank you for commitment and we look forward to working together!<br>&nbsp;</p>

	<p>The Detroit4Detroit Team</p>

</body>
</html>

