    <div class="padded_albums_carousel">
		  <%= render :partial => "albums_carousel", :object => @project.admin_and_partner_media_albums, :locals => { :header => "ALBUMS UPLOADED BY CITIZEN EFFECT AND PROJECT PARTNER" } %>
    </div>
