    <div class="padded_albums_carousel">
		  <%= render :partial => "albums_carousel", :object => @project.cp_media_albums, :locals => { :header => "EDIT OTHER PROJECT ALBUMS", :removable => true } %>
    </div>
