<p>
  <b>Necessary:</b>
  <%=h @partner_user_detail.necessary %>
</p>


<%= link_to 'Edit', edit_admin_partner_user_detail_path(@partner_user_detail) %> |
<%= link_to 'Back', admin_partner_user_details_path %>
