<h1>Listing project_events</h1>

<table>
  <tr>
  </tr>

<% @project_events.each do |project_event| %>
  <tr>
    <td><%= link_to 'Show', [:admin, project_event] %></td>
    <td><%= link_to 'Edit', edit_admin_project_event_path(project_event) %></td>
    <td><%= link_to 'Destroy', [:admin, project_event], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project_event', new_admin_project_event_path %>
