				<div class="component-top margin_top"></div>
				<div class="component-wrapper">
          <%= render :partial => "shared/project_with_cp_two_thirds", :object => project_donated_to %>
				</div>
				<div class="component-bottom blue">
          <%= render :partial => "shared/search_result_recent_activity", :object => project_donated_to %>
				</div>
