				<div class="box-half-<%=h search_result_project_counter == 0 ? "left" : "right" %>">
					<div class="box-half-top"></div>
          <%= render :partial => "search_result_project_body", :object => search_result_project %>
				</div>
