
<tr>
  <td class="form-label"><%= f.label :amount_in_dollars, "Additional Refund Amount" %></td>
  <td>
      <%= f.text_field :amount_in_dollars %>
  </td>
</tr>


<tr>
  <td class="form-label"><%= f.label :comment, "Comment " %></td>
  <td><%= f.text_field :comment %></td>
</tr>


