<ul class="wrapper-footer-text narrow">
	<li>Citizen Effect</li>
	<li class="spacer">|</li>
	<li>
    
  </li>


	<li class="spacer">|</li>
	<li><%= link_to "Terms of Use", '/p/terms-of-use' %></li>
	<li class="spacer">|</li>
	<li><%= link_to "Privacy Policy", '/p/privacy-policy' %></li>
	<li class="spacer">|</li>
	<li>&copy; <%= Time.now.year %></li>
</ul>

