<!-- social networking icons - right -->
<ul class="list_rightcol">
  <li class="left">
    <%= image_tag "follow_citizen_effect_rightcol.png", :alt => "Follow Citizen Effect" %>
  </li>
 
  <li class="clear"></li>
</ul>
