<div class="pad_full about_box_content" id="about_box_details">

  <div class="bg_ltblue margin_right margin_bottom">
    <h2 class="press">WHAT IS CITIZEN EFFECT?</h2>
  </div>

  <div class="about_about_video" style="margin:20px;">

  </div>

  <p>
    Citizen Effect is a movement of committed citizens who believe we all have the ability to impact the lives of others. We’ve completed hundreds of high-impact community projects in over 20 countries including the US.
  </p>

  <p>
    We give Citizen Philanthropists the ability to choose their project, leverage their social networks, and communicate directly with their partner community. We are also providing our field partners the tools they need to actively manage their projects so they can seamlessly share information with Citizen Philanthropists and directly report on the impact projects are having on the ground.
  </p>

  <p>
    Citizen Philanthropists are powerful community builders. They help their partners across the world build more self-reliant and sustainable communities. But they also build stronger communities here at home by bringing people together for a common cause and promoting civic engagement. We believe giving and community building should be a central part of everyone’s life, not something left to weekends or annual drives.
  </p>


<div class="bg_ltblue margin_right margin_bottom margin_top">
    <h2 class="press">WHAT IS CITIZEN PHILANTHROPY?</h2>
</div>

<p>At one time, philanthropy was reserved for the likes of the Rockefellers, and Carnegies. Citizen Philanthropy is a proven model that provides anyone with passion the opportunity to engage their network to fund a critical community project. From grade school students to retirees, young professionals to small businesses, we’ve worked with hundreds of Citizen Philanthropists to impact the causes most important to them.</p>

<div class="bg_ltblue margin_right margin_bottom margin_top">
    <h2 class="press">HOW DOES IT WORK?</h2>
</div>

<p>We provide you with the tools and support to be the marketing, promotional and fundraising voice for the cause of your choice. You receive a personalized online fundraising page and direct access to the Citizen Effect team, who work with you to make your efforts a success.</p>

<div class="bg_ltblue margin_right margin_bottom margin_top">
    <h2 class="press">WHY CITIZEN EFFECT?</h2>
</div>
  <p>
    A woman sells baked goods to provide enviro-friendly solar lanterns for salt farmers in Jogad, India.
  </p>

  <p>
    Three friends organize a happy hour to repair a well in Devki, India.
  </p>

  <p>
    A couple uses their wedding registry to raise money for a childcare center in Sedla, India.
  </p>

  <p>
    Citizen Effect is a completely different approach to philanthropy.
  </p>

  <p>
    Most nonprofits fund projects by asking for donations. But this can be discouraging. It’s impersonal, and often, a lot of money only seems to make a small difference. Even then, it’s hard to trace the impact of your dollars.
  </p>

  <p>
    Citizen Effect works a little differently.
  </p>

  <p>
    We are seeking people that do not just want to give $50, but want to bring their friends, family and social network together to raise $1,000 or $5,000 or $10,000 and to make a real and significant impact in the lives of a community in need. That is a Citizen Philanthropist. And they come in all shapes and sizes - retired teachers, yoga instructors, accountants, high school students, churches, synagogues and mosques, baseball teams and chess clubs, small business and corporations. What makes them all similar is their desire to take control of their giving experience, connect their social network to a community in need and to see the real, sustainable change they have created. Sound like you? Be the solution and be a Citizen Philanthropist. Sound like a friend of yours?  Tell them to be a Citizen Philanthropist.  Or, help spread the word on Facebook, Twitter and Google+.
  </p>

  <p>
    No one alone can help 1.4 billion people living on less than $1.25 per day escape poverty, or provide clean water for 2 million people. But you can partner with one community and help them build a more self-reliant and sustainable life by completing a small but critical project. Be the solution. Join Citizen Effect.
  </p>

</div>

