<li class="wrapper_thumb" style='<%= "background:url(#{feature.picture_thumbnail.url(:featured_project_thumb)})" -%>'>
  <a href="#" onclick="switch_featured_project_picture(this, <%=h feature.id %>);return false;"></a>
</li>

