<div class="box-half-right">
  <div class="box-half-middle-blue cp">
    <div class="left" style="width:150px">
      <h1 class="search">Find your<br />perfect project!</h1>
			<h5>
				Answer a few
				simple questions,
				and find the perfect
				project for you!
			</h5>
      
    </div>
    <div class="right blue" style="width:296px">
      <%= render :partial => "shared/find_your_perfect_project_inner" %>
    </div>
    <div class="clear"></div>
  </div>
</div>
