
<div class="pad_top pad_left">
    <p class="description">
		We’re looking for you.  Yes, you: the one with the passion for your work, with the unshakeable desire to make your community and your world a better place.  Here at Citizen Effect we’re building a top-notch team that’s lively, engaged, and willing to take on the big issues while paying attention to the smallest details.  We’re taking the concept of philanthropy and turning it on its head.  And we’re building the next generation of civic leaders while doing so.
	</p>
	<p class="description">
		If you’re ready to work hard, have fun, and feel rewarded by your work every single day, then you might just be the perfect fit.  Roll up your sleeves and join us!
	</p>
	<p class="description">
	</p>
</div>
