<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DC4DC | HOME</title>

<meta property="og:title" content="DC4DC" />
<meta property="og:description" content="Be the Change in DC! I just joined to help support one of 5 amazing causes in my community. Check it out" />
<meta property="og:image" content="thumbnail_image" />
<style type="text/css">
<!--
#bottom {
	background-image: url(/images/dc4dc2011/bottom.gif);
	background-position: left bottom;
	height: 184px;
	width: 2000px;
	background-repeat: repeat-x;
	position: fixed;
	clip: rect(auto,auto,auto,auto);
	vertical-align: bottom;
	bottom: 0px;
	left: -10px;
	clear: both;
	z-index: auto;
}
-->
</style>
<link href="/stylesheets/dc4dc2011/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('/images/dc4dc2011/joinus2.gif','/images/dc4dc2011/facebook2.gif','/images/dc4dc2011/twitter2.gif')">
<div id="wrapper">
  <div id="links">HOME&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dc4dc/about" class="a"> ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp; <span class="joinus"><a href="/dc4dc/join_us" class="joinus">JOIN US</a></span>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/dc4dc/causes" class="a">CAUSES&nbsp;</a>&nbsp;&nbsp;&nbsp; <a href="/dc4dc/participants" class="a">VOLUNTEER</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/dc4dc/schwag" class="a">SCHWAG</a></div>
  <div id="logo"></div>
  <div id="tagline">BE THE CHANGE IN DC</div>
  <div id="bodytext">DC is our home. It's time to give back!<br />
    Be one of 100 volunteers to make the commitment to serve DC on November 5th and 6th and raise $20,000 to support our commnity. <br />
   <br />
    <div id="joinus"> <a href="/dc4dc/join_us" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('joinus','','/images/dc4dc2011/joinus2.gif',1)"><img src="/images/dc4dc2011/joinus.gif" name="joinus" width="126" height="38" border="0" id="joinus2" /></a></div>
  
  <br/>
  <a href="https://www.facebook.com/sharer.php?u=<http://ow.ly/6rSju>&t=<Be the Change in DC! I just joined @DC4DC to help support one of 5 amazing causes in my community.>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('facebook','','/images/dc4dc2011/facebook2.gif',1)"><img src="/images/dc4dc2011/facebook.gif" name="facebook" width="41" height="36" border="0" id="facebook" /></a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>
  
  </div>
  
  
</div>
<div id="bottom"></div>
</body>
</html>
