<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DC4DC | JOIN US</title>
<style type="text/css">
<!--
#bottom {
	background-image: url(/images/dc4dc2011/bottom.gif);
	background-position: left bottom;
	height: 190px;
	width: 2000px;
	background-repeat: repeat-x;
	position: fixed;
	clip: rect(auto,auto,auto,auto);
	vertical-align: bottom;
	bottom: 0px;
	left: -10px;
	clear: both;
	overflow: visible;
}
-->
</style>
<link href="/stylesheets/dc4dc2011/join_us.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('/images/dc4dc2011/joinus2.gif')">
<div id="wrapper">
  <div id="links"><span class="a"><a href="/dc4dc" class="a">HOME</a><br />
    <a href="/dc4dc/about" class="a">ABOUT</a></span><br />
    <span class="joinus">JOIN US<br />
    </span> 
 
 <span class="a"><a href="/dc4dc/participants" class="a">VOLUNTEER</a><br />
 <a href="/dc4dc/causes" class="a">CAUSES</a><br />
 <a href="/dc4dc/schwag" class="a">SCHWAG</a></span></div>
  
  <div id="tagline"><img src="/images/dc4dc2011/joinus_header.gif" width="65" height="395" alt="joinus" />
</div>
    <div id="bodytext">
    <span class="header"><br />
    WHY:</span><span class="bodytext"><br />
    DC gives its people so much, and this fall Citizen Effect is launching DC4DC to <br />
help you return the favor and address the critical needs facing our nation’s capital. <br />
<br />
Join us and be one of 100 local volunteers and university students to<br />
serve DC on November 5th and 6th. All you need to do is fill out the<br />
Join Us form and raise $250 by early November.<br />
</span>
    <div id="button"><a href="/dc4dc/form" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('join_us','','/images/dc4dc2011/joinus2.gif',1)"><img src="/images/dc4dc2011/joinus.gif" name="join_us" width="105" height="31" border="0" id="join_us" /></a></div>
    <span class="bodytext"> <br />
    <br />
    <br />
    <br />
    </span><span class="header">THE PROBLEMS: </span></span></span><img src="/images/dc4dc2011/stats.gif" width="549" height="100" alt="stats" />
    <br /><br /><br />
    <span class="header">BE THE SOLUTION:</span>
<table width="548" height="88" border="0" align="center">
      <tr>
        <td width="127" align="left" valign="top"><span class="header">1. SIGN UP<br />
          </span><span class="bodytext"><a href="/dc4dc/form" class="joinus">JOIN US</a> &amp; make <br />
          a pledge </span><br />
        </p></td>
        <td width="144" valign="top"><span class="header">2.  YOUR CAUSE</span><br />
        <span class="bodytext">Pick a <a href="/dc4dc/causes" class="a">nonprofit</a> to support</span><br /></td>
        <td width="135" align="left" valign="top"><span class="header">3. RAISE</span><br />
        <span class="bodytext">Fundraise from friends and family </span><br /></td>
        <td width="124" align="left" valign="top"><span class="header">4. SERVE!</span><br />          <span class="bodytext">Volunteer on Nov. 5th and 6th!<br />
        <br /><a href="/dc4dc/form" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('join_us','','/images/dc4dc2011/joinus2.gif',1)"><img src="/images/dc4dc2011/joinus.gif" name="join_us" width="105" height="31" border="0" id="join_us" /></a>
        <br />
        </span></td>
      </tr>
    </table>
    <p class="header">
    <p><br />
      <span class="header"><br />
      </span><br />
      <span class="header"><br />
      </span><br />
      <span class="header"><br />
      </span></p>
</div>

</div>
<div id="bottom"></div>
</body>
</html>
