<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DC4DC | ABOUT</title>
<style type="text/css">
<!--
#bottom {
	background-image: url(/images/dc4dc2011/bottom.gif);
	background-position: left bottom;
	height: 190px;
	width: 2000px;
	background-repeat: repeat-x;
	position: fixed;
	clip: rect(auto,auto,auto,auto);
	vertical-align: bottom;
	bottom: 0px;
	left: -10px;
	clear: both;
}
-->
</style>
<link href="/stylesheets/dc4dc2011/about.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('/images/dc4dc2011/joinus2.gif')">
<div id="wrapper">
  <div id="links"><a href="/dc4dc" class="a">HOME</a><br />
ABOUT<br />
 <span class="joinus"><a href="/dc4dc/join_us" class="joinus">JOIN US</a><br />
 </span> 
 
 <span class="a"><a href="/dc4dc/participants" class="a">VOLUNTEER</a></span><br />
 <span class="a"><a href="/dc4dc/causes" class="a">CAUSES</a></span><br />
 <span class="a"><a href="/dc4dc/schwag" class="a">SCHWAG</a></span></div>
  
  <div id="tagline"> <img src="/images/dc4dc2011/about.gif" width="65" height="342" alt="about" /></div>
 
  <div id="bodytext">
    <span class="bodytext"><br />
    DC4DC is a movement to bring together DC students and residents
    to help address the critical needs facing our nation's capital. Citizen
    Effect has identified five local, high-impact nonprofits that need
    support.<br />
    <br />
    Now we need you to <a href="/dc4dc/join_us" class="joinus">join the movement</a> and be one of 100
    volunteers who commits to serve DC on November 5th and 6th and
    help us raise $20,000 for critical needs in Washington, DC.<br />
    <br />
    All you need to do is pledge to raise $250 for one of the <a href="/dc4dc/causes" class="joinus">five causes</a>.
    You can raise the money any way you want - send an email to your
    friends and family, hold a happy hour at your favorite pub, or get
    your butt in shape and run a 5k. Then on November 5th or 6th, do a
    day of service for the cause you are supporting.<br />
    <br />
    The more you raise, the more <a href="/dc4dc/schwag" class="joinus">schwag</a> you get. Check out the prizes
    and incentives we have for you.<br />
    <br />
    And service is always more fun with friends. The person who recruits
    the most friends that raise $250 or more (need at least 5) wins an
    iPad. Make sure they include your first and last name on the <a href="/dc4dc/join_us" class="joinus">Join Us</a> form.<br />
    <br />
    DC4DC is a Citizen Effect project. Citizen Effect is an entrepreneurial<br />
    nonprofit that provides citizens the tools and support they need to<br />
    complete a critical project for a community in need. To learn more,<br />
    go to <a href="http://citizeneffect.org/" target="_blank" class="joinus">www.citizeneffect.org</a>.<br />
    <br />
  
    <br />
    <a href="/dc4dc/join_us" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('join_us','','/images/dc4dc2011/joinus2.gif',1)"><img src="/images/dc4dc2011/joinus.gif" name="join_us" width="122" height="36" border="0" id="join_us" /></a><br />
  </span> </div>
  
</div>
<div id="bottom"></div>
</body>
</html>
