<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DETROIT 4 DETROIT | ABOUT</title>
<style type="text/css">
<!--
body {
	background-color: #06C;
	background-image: url(/images/detroit4detroit/white_bar.png);
	background-position: left top;
	background-repeat: repeat-x;
}
-->
</style>
<link href="/stylesheets/detroit4detroit/about.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('/images/detroit4detroit/im_in2.jpg')">
<div id="wrapper">
  <div id="logo"><img src="/images/detroit4detroit/blank.png" name="home" width="501" height="138" border="0" align="middle" usemap="#homeMap" id="home" />
    <map name="homeMap" id="homeMap">
      <area shape="rect" coords="52,3,441,122" href="/detroit4detroit" />
    </map>
  </div>

  <div id="city">
    <div class="header"  id="readmore">ABOUT
    <span class="small_header"><a href="partners" class="small_header">PARTNERS</a></span></div>
    <div id="divider"></div>
    <div id="text">
      <span class="readmore">Citizens Making It Happen</span><br />
      Detroit is an amazing place–  great neighborhoods, community gardens, sustainable restaurants and a citizenry that is defining the modern American city.
      <br />
      <br />
      Detroit4Detroit is a movement of Detroit citizens, each committed to leading a critical community project in Detroit. Every project is 100% Detroit and defined by the needs of Detroit. Over the next year, we will identify 150+ citizen leaders and give them the tools and support to mobilize their friends, family, and social networks to complete a high-impact community project.
      </p>
      <p>We are launching this program in Detroit because Detroit citizens are taking charge of their city. Community leaders, small business owners, and entrepreneurs are making it happen. We want to tap into the city’s energy and provide anyone the tools and support to create the Detroit they envision.</p>
    </div>
     <div id="text"><span class="readmore">Who is Citizen Effect?</span><br />
     We are a group of passionate citizens that make it easy for community leaders to get things done. Our approach is simple – find critical projects that will have a lasting impact on a community and connect them with passionate citizens committed to getting them done. We give you the tools and support you need to mobilize your friends, family and social network to promote, market and complete the project. Learn more at <span class="bodytext"><a href="http://citizeneffect.org/" target="_blank" class="bodytext">www.citizeneffect.org</a>.</span><br />
     <br />
          <a href="/detroit4detroit" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('join us','','/images/join_us2.jpg',1)"><img src="/images/join_us.jpg" name="join us" width="90" height="30" border="0" id="join us" /></a><br />
          
     </div>
  </div>
</div>
</body>
</html>

