<h1>New Community Member Picture</h1>

<% form_for([:admin, @community_member_profile, @community_member_picture], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

<table border="0" cellspacing="0" cellpadding="0" class="form-table">
  <%= render :partial => "form", :locals => { :f => f } %>

  <tr>
    <td class="form-submit" colspan="2"><%= f.submit 'Create' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', [:admin, @community_member_profile, :community_member_pictures] %>
