<% content_for(:page_title, "Signup Complete | Yoga Challenge") %>

<% content_for :meta_tags do %>
  <meta property="og:title" content="Yoga Challenge" /> 
  <meta property="og:url" content="http://citizeneffect.org/yogachallenge" /> 
  <meta property="og:site_name" content="Citizen Effect" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="I just joined Citizen Effect's Yoga Challenge! Help me end domestic violence in DC with Becky's Fund." />
  <meta name="description" content="Join the movement and help support DC based Becky’s Fund in their efforts to combat domestic violence in our community. The Challenge begins August 1st." />
  <link rel="image_src" href="http://citizeneffect.org/images/yoga_challenge_2011/logo.gif" />
  <meta property="og:image" content="http://citizeneffect.org/images/yoga_challenge_2011/logo.gif" /> 
<% end %>

<div class="breadcrumbs" style="margin-bottom:5px;">
	<%= render :partial => "shared/header_left_nav" %>
</div>

<!-- main body copy -->
<div id="wrapper-copy">
	<div class="component-header-full nopadtop">
		<h3>YOGA CHALLENGE SIGN UP CONFIRMATION</h3>
	</div>

  <!-- full-width component -->
  <style type="text/css">

			#edit_donate .pad_left_large{
				padding-left:80px;
			}
			.project_description_container{
				width:100%;
				background-color:#DDEAF2;
				height:140px;
				padding:20px 12px 0 0;
				margin-left:-7px;
			}
			.project_description_container_left{
				margin-left:10px;
			}
			.project_description_container .project_description_container_right {
			  width:700px;
        padding-left:20px;
        padding-top:0px;
        font-size:18pt;
        margin-top:-5px;
			}
      
      .rule_listing ul{
        list-style: disc outside none;
        overflow: visible;
        padding-bottom: 15px;
        margin-left: 15px;
      }
      .rule_listing li{
        overflow: visible;
        font-size: 11pt;
        margin-bottom:15px;
      }
      .rule_listing h6{
        font-size: 12pt;
        font-weight: bold;
        padding-bottom: 0px;
      }
      .rule_listing a{
        color:#50BDEB;
        font-size: 11pt;
      }

  </style>

  <div class="box-full-middle" style="padding-bottom:0px;">
    <div class="project_description_container">
      <div class="component">
        <div class="project_description_container_left left">
          <%= image_tag "CE_Yoga-Challenge_Logo_Final.png", :class => "block pad_bottom" %>
        </div>
        <div class="project_description_container_right left">
          Thank you for joining Citizen Effect's Yoga Challenge!
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

	<!-- full-width component -->
	<div class="box-full-middle social">
    <div class="rule_listing" style="padding:15px;height:500px;">
      <ol>
        <li>
          <ul>
            <li>A donation email has been sent with a receipt for your donation and instructions for receiving your Yoga Challenge welcome packet with great gifts from our sponsors.</li>
            <li>You'll soon receive an email from our team to set up a call to discuss your new project page and fundraising methods.</li>
            <li>
    
            </li>
          </ul>
        </li>
      </ol>

      <br/><br/><br/>
      <center>
        <a href="/yogachallenge">Return to the Yoga Challenge Page</a>
      </center>


    </div>
  </div>
	<div class="box-full-bottom"></div>
</div>
