  <tr>
    <td class="form-label"><%= f.label :country_id %></td>
    <td><%= f.collection_select :country_id, Country.all, :id, :name, :prompt => true %></td>
  </tr>
<!--   <tr> -->
<!--     <td class="form-label"><%= f.label :partner_id %></td> -->
<!--     <td><%= f.text_field :partner_id %></td> -->
<!--   </tr> -->
