<!-- find your perfect project -->
<div class="box-rightcol-inner-header">
	<div class="box-rightcol-header"><h3 class="full">FIND YOUR PERFECT PROJECT!</h3></div>
</div>
<div class="box-rightcol-inner">
	<div class="pad_top pad_bottom">
		<h1 class="home">
			Answer a few simple<br />
			questions, and find the<br />
			perfect project for you!
		</h1>
	</div>

  <%= render :partial => "shared/find_your_perfect_project_inner" %>

  <div class="clear"></div>
	<div class="clear"></div>
</div>

<div class="box-rightcol-bottom"></div>
