<% content_for(:page_title, "Holiday Harvest Card") %>

<div class="breadcrumbs"></div>

<div id="wrapper-copy" style="margin-left:5px;">

  <div class="component-header-full nopadtop" style="width:100%;margin-left:0px;">
	  <h3>Holiday Harvest</h3>
  </div> 		
  
  <iframe src="<%= @project.card_snapfish_url %>" style="width:960px;height:1800px;margin-bottom:15px;margin-left:2px;"></iframe>

</div>
