<tr>
  <td>Community member profile:</td>
  <td><%=h @community_member_message.community_member_profile.name %></td>
</tr>
<tr>
  <td class="form-label"><%= f.label :content %></td>
  <td><%= f.text_area :content %></td>
</tr>
