				<!-- recently active projects -->
				<div class="box-rightcol-top"></div>
				
				<!-- most successful -->
				<div class="box-rightcol-inner">
					<div class="header"><h4>MOST SUCCESSFUL</h4></div>
					
          <div id="most_successful_fundraiser_types">
            <%= render :partial => "fundraiser_type", :collection => FundraiserType.most_successful.top_5 %>
          </div>

					<%= link_to_remote "view more", { :url => most_successful_fundraiser_types_path, :with => "'page=' + ++most_successful_page", :method => :get }, :id => "most_successful_view_more", :class => "right pad_top pad_bottom" %>
					<div class="clear"></div>
				</div>
				<div class="box-rightcol-bottom"></div>
<% javascript_tag do %>
  most_successful_page = 1;
<% end %>
