%h1 New Media Album Video

- form_for([:admin, @project, @media_album, @media_album_video], :html => { :multipart => true}) do |f|
  = f.error_messages

  %table.form-table{:border => "0", :cellspacing => "0", :cellpadding => "0"}
    = render :partial => "form", :locals => { :f => f }

    %tr
      %td.form-submit{:colspan => "2"}
        = f.submit 'Add Video'

= link_to "Back", [:admin, @project, @media_album, :media_album_videos]
