				<!-- recent news -->
				<div class="box-rightcol-inner-header">
					<div class="box-rightcol-header"><div class="pad_left"><h3 class="full pad_left">SAVED DRAFTS</h3></div></div>
				</div>
				<div class="box-rightcol-inner drafts">
					<%= render :partial => "draft", :collection => @mailing_list.drafts %>
				</div>

				<div class="box-rightcol-bottom" /></div>
